<div class="job-card p-[20px] bg-[#ffffff] rounded-[15px]">
    <div class="job-card__header flex mb-[15px]">
        <figure class="flex-[0_0_50px] w-[50px] h-[50px] bg-[#f8f8f8] rounded-[10px]">
            
        </figure>
        <div class="job-card__header--body flex-1 pl-[15px]">
            <h3 class="text-black text-[16px]/[24px] font-[500] mb-[1px]">Product Designer</h3>
            <ul>
                <li>Netflix</li>
                <li>25 applicants</li>
            </ul>
        </div>
    </div>
    <ul class="job-card__level mb-[7px]">
        <li>Expert</li>
        <li>Full Time</li>
        <li>Remote</li>
    </ul>
    <p class="text-[14px]/[21px] text-[#919191] font-[400]">Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
</div>