<app-header></app-header>
<section class="pt-[50px]">
    <div class="container">
        <div class="section-title">
            <h2 class="flex items-center">Available Jobs <span class="relative before:content-[''] before:absolute before:top-0 before:left-0 before:w-[100%] before:h-[100%] before:border before:border-gray before:rounded-[32px] text-[21px]/[32px] ml-[15px] p-[2px_13px]">23</span></h2>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <app-job-card></app-job-card>
            </div>
        </div>
    </div>
</section>