<app-header [isJobSearchForm]="true" (jobResponse)="getSearchResult($event)"></app-header>
<section class="pt-[50px]">
    <div class="container">
        <div class="section-title justify-between items-center">
            <h2 class="flex items-center">{{jobType}} Jobs <span class="relative before:content-[''] before:absolute before:top-0 before:left-0 before:w-[100%] before:h-[100%] before:border before:border-gray-light before:rounded-[32px] text-[21px]/[32px] ml-[15px] p-[2px_13px]">{{ allJobs.length }}</span>
            </h2>
            <!-- <div class="job-filter">
                <button>Most Recent <i class="bi bi-filter"></i></button>
            </div> -->
        </div>
        <div class="row">
            <div class="col-md-4 col-lg-3" *ngFor="let item of allJobs">
                <app-job-card [job]="item"></app-job-card>
            </div>
        </div>
    </div>
</section>